<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="mySidenav" class="sidenav">
	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	<table style="width:100%" border-spacing="2px;">
		<tr>
			<td><i class="fa fa-user"></i></td>
			<td><a href="user.html">Profile</a></td>
  		</tr>
		<tr>
			<td><i class="fa fa-users"></i></td>
			<td><a href="groups.html">Groups</a></td>
		</tr>
		<tr>
			<td><i class="fa fa-cutlery"></i></td>
			<td><a href="foodprefs.html">Foods</a></td>
		</tr>
		<tr>
			<td><i class="fa fa-sliders"></i></td>
			<td><a href="settings.html">Settings</a></td>
		</tr>
		<tr>
			<td><i class="fa fa-power-off"></i></td>
			<td><a href="logout.html">Logout</a></td>
		</tr>
	</table>
</div>

<div id="main">
	<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; MENU</span>
	<h2>Groups</h2>
	<p>This is the groups page</p>
	
</div>

<script>
function openNav() {
	document.getElementById("mySidenav").style.width = "250px";
	document.getElementById("main").style.marginLeft = "250px";
	document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeNav() {
	document.getElementById("mySidenav").style.width = "0";
	document.getElementById("main").style.marginLeft= "0";
	document.body.style.backgroundColor = "white";
}
</script>
   
</body>
</html> 
